.post {
    padding: 10px 15px;
    background: linear-gradient(to bottom, rgba(252,236,252,0.3) 0%,rgba(255,228,225,0.5) 100%);
    border: 2px solid mistyrose;
    border-radius: 10px;
    margin-bottom: 15px;
    min-height: 140px;
}

.dateAndTime {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 10px;
}

.text {
    font-family: 'Courgette', cursive;
    padding: 5px 0 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.readMore{
    font-family: 'Poppins', sans-serif;
    padding: 12px 36px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#ff72c0,mistyrose);
    outline: none;
    border: none;
    text-decoration: none;
}

.readMore:active{
    box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 1);
}